

header {
    background-color:#dee2e6;
    background-size: 300px;
    
}

header .logo a {
   
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -99999999px;
    top: -60px;
    width: 300px;
}




header a {
    color: rgb(205, 151, 50);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}



nav ul {
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline-block;
    margin-right: 60px;
}


.card {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.card figure {
    margin: auto;
    text-align: center;
    width: 200px;
}
.card figure img {
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: rgb(205, 151, 50) 5px 5px 5px;
    width: 200px;
    display: inline-block;
}
.text {
    text-align: center;
}

    
.btn-btn1 {
    
    border: 2px solid rgb(205, 151, 50);
    box-shadow:orange; 
    border-radius: 5px;
    width: 73px;
    margin-left: 590px;
}

.contactlg {
    
    width: 500px;
    box-shadow: rgb(205, 151, 50) 5px 5px 5px;
    border: 4px solid white;
    border-radius: 50px;
}

.text4 {
    text-indent: 30px;
    color: rosybrown;
}

.main1 {
    text-indent: 60px;

}